body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.mainDiv {
    margin-top: 30px;
    width: 50vw;
    min-height: 100px;
}

.title {
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: sans-serif;
    height: 40px;
}

.Table {
    width: 100%;
}

.head {
    text-align: center;
    height: 30px;
    border-top: 1px solid #bebdbe;
    border-right: 1px solid #bebdbe;
    border-bottom: 1px solid #bebdbe;
    background-color: #f4f4f4;
    font-size: small;
    font-weight: bold;
    font-family: sans-serif;
}

.NUM {
    min-width: 40px;
    border-left: 1px solid #bebdbe;
}
.Left{
    border-left: 1px solid #bebdbe;
}

.SID {
    min-width: 85px;
}

.SN {
    min-width: 95px;
}

.cell {
    text-align: center;
    border-right: 1px solid #bebdbe;
    border-bottom: 1px solid #bebdbe;
    height: 40px;
    padding: 10px;

}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-shadow: #ffffff;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: grey 1px 1px 2px 0px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    outline: none;
} 

.img :hover{
    box-shadow: grey 2px 2px 5px 0px;
    cursor: pointer;
}
.img :active {
    box-shadow : -1px -1px 3px 0px grey;
}

.images {
    user-select: none;
    z-index: -1;
}

.Correct {
    width: 19px;
    height: 19px;
}

.Forbidden {
    width: 25px;
    height: 25px;
}

.Late {
    width: 20px;
    height: 20px;
}
.bottom {
    font-size: small;
    font-weight: bold;
    font-family: sans-serif;
    height: 20px;
    background: #f4f4f4;
}

.lastDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 10px;
}
.lastDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ADD{
    display: inline-block;
    height: 20px;
    padding: 5px;
    width: 100px;
    background: #d3d1d1;
    margin: 10px;
}

.SAVE{
    display: inline-block;
    height: 20px;
    padding: 5px;
    width: 50px;
    background: #d3d1d1;
    margin-right: 10px;
}
.CLEAR{
    display: inline-block;
    height: 20px;
    padding: 5px;
    width: 70px;
    background: #d3d1d1;
}